.title {
  color: #263238;
}
.headerWrap{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.addButton {
  float: right;
  /* padding-bottom: px; */
}
.Progess {
  font-size: 50px;
}

.Districts {
  width: 150px;
  height: 40px;
}

.Buttons {
  margin: 0px 10px 0px 0px;
}
:global(.MuiInputLabel-outlined) {
  transform: translate(14px, 12px) scale(1) !important;
}
:global(.MuiInputLabel-outlined.MuiInputLabel-shrink) {
  transform: translate(14px, -6px) scale(0.75) !important;
}
:global(.MuiInputBase-input) {
  height: 0.188em !important;
}
