.title {
  color: #263238;
}
.headerWrap{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.addButton {
  float: right;
  /* padding-bottom: px; */
}
.Progess {
  font-size: 50px;
}

.Districts {
  width: 230px;
}

.Buttons {
  margin: 0px 10px 0px 0px;
}
