ClearButton {
  border-top-left-radius: 0;
  color: white;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 34px;
  background-color: #45a0fd;
  justify-content: center;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.SearchBar {
  float: left;
}

.row {
  height: 42px;

  display: flex;
  align-items: center;
  /* margin-left: -100px; */
}

:global(.rdt_TableCol) {
  background-color: #fafafa;
}

:global(.rdt_TableCell) {
  padding: 25px;
}

:global(.MuiCard-root) {
  margin-top: 25px;
}

:global(.rdt_Pagination) {
  color: #263238 !important;
}

.pointer {
  cursor: pointer;
}

.deleteButton {
  font-family: "Material Icons";
  color: #d63447;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  border: none;
  background-color: inherit;
}

:global(.test) {
  display: none !important;
}

/*  */
/* class="sc-fzqBZW dNoAIX" */
