.DrawerToggle {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  float: right;
}

@media (min-width: 500px) {
  .DrawerToggle {
    display: none !important;
  }
}
