.title {
  color: #263238;
}
.addButton {
  float: right;
  /* padding-bottom: px; */
}
.Progess {
  font-size: 50px;
}

.Districts {
  width: 150px;
  height: 40px;
}

.Buttons {
  margin: 0px 10px 0px 0px;
}
